/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden; /* Убирает горизонтальный скролл */
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.App {
  width: 100vw;
  text-align: center;
  flex-direction: column;
}

.header {
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: black;

  position: fixed; /* Закрепляем header поверх страницы */
  top: 0;
  left: 0;
  width: 100%; /* Header занимает всю ширину */
  z-index: 1000; /* Header будет поверх hero */
  background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие фона для прозрачного эффекта */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Легкая граница внизу header */
}

.header .logo img {
  height: 50px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li a {
  font-size: 3vw;
  color: black;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background: tomato no-repeat center center;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: end;

  flex-direction: column;
  padding-left: 4vh;
  padding-right: 4vh;

  position: relative;
  background-size: cover;
  z-index: 1; /* hero находится под header */
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);  /* Полупрозрачный черный слой для затемнения */
  z-index: 2;  /* Затемняющий слой будет над видео */
}

.hero img {
  width: 100%; /* Занимает всю ширину контейнера */
  height: 100vh; /* Высота равна высоте окна */
  object-fit: fill; /* Обрезает изображение, сохраняя пропорции */
  object-position: center; /* Центрирует изображение */
}


.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Видео будет фоном */
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Видео покроет весь контейнер */
}

.hero-text {
  position: relative;
  z-index: 1; /* Текст находится поверх видео */
  color: #fdfdfd;
  text-align: center;
  margin-bottom: 15vh;
  font-weight: bold;
}

.hero h1 {
  font-size: 2vh;
}

.hero p {
  font-size: 5vh;
}

.hero button {
  background-color: transparent;
  color: #EEF6EA;
  font-size: 4vh;
  line-height: 5vh;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 2vh;
}

.about h2 {
  font-size: 5.5vh;
}
.about p {
  font-size: 3.5vh;
}

.container-beneath-about {
  width: 100%;          /* Контейнер занимает всю ширину экрана */
  height: 50vh;        /* Высота контейнера 100% от высоты экрана */
  display: flex;
  align-items: center;  /* Выравнивание по вертикали */
  justify-content: center; /* Центровка по горизонтали */
  overflow: hidden;     /* Чтобы видео не выходило за пределы контейнера */
}

.beneath-about-video {
  width: 100%;         /* Видео растягивается на всю ширину контейнера */
  height: 100%;        /* Видео растягивается на всю высоту контейнера */
  position: relative;
}

.beneath-about-video video {
  width: 100%;         /* Видео занимает всю ширину контейнера */
  height: 100%;        /* Видео занимает всю высоту контейнера */
  object-fit: cover;   /* Масштабирует видео, чтобы оно покрыло весь контейнер */
}
.about{
  padding-left: 4vh;
  padding-right: 4vh;
}

.marquee-section {
  width: 100%; /* Секция занимает всю ширину экрана */
  height: 20vh; /* Высота контейнера */
  overflow: hidden; /* Скрываем лишний текст */
  background-color: white; /* Фон секции */
  display: flex; /* Flexbox для центрирования */
  align-items: center; /* Центрируем текст по вертикали */
  font-weight: bold;
}

.marquee {
  display: flex;
  width: 100%; /* Ширина 100% для контейнера анимации */
  overflow: hidden; /* Скрываем лишний текст */
  position: relative; /* Устанавливаем позиционирование */
}

.marquee-content {
  display: flex; /* Flexbox для дублирования текста */
  animation: marquee 30s linear infinite; /* Устанавливаем анимацию */
}

.marquee span {
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
  line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));

}

/* Анимация */
@keyframes marquee {
  0% {
    transform: translateX(0); /* Начинаем с обычного положения */
  }
  100% {
    transform: translateX(-50%); /* Прокручиваем до половины ширины контейнера */
  }
}





.about, .feedback, .contact {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts-container {
  text-align: center;
  width: 100%;
  height: 40vh;
  font-size: 4.5vh;
  font-weight: bold;
}
.bottom-button-block {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedback {
  background: white;
}

/* Service Cards */
.feedback .feedback-cards {
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.feedback-cards .card {
    background-color: #EEF6EA;
  padding: 20px;
  border-radius: 10px;
  width: 80%;

}

.feedback h2{
  font-size: 5.5vh;
}

.card h3 {
  font-size: 4.5vh;
}

.card p {
  font-size: 3.5vh;
}


.feedback-cards .card img {
  max-width: 60%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

}

.wrap {
  padding-top: 2vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 70vw;
  min-height: 5vh;
  display: inline-flex;
  font-family: 'Nunito', sans-serif;
  font-size: 2.5vh;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(70vw + 12px);
  min-height: calc(5vh + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
  opacity: 1;
}

.button::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /* Центрирование с масштабированием */
  animation: ring 4s infinite;
  backface-visibility: hidden;
  box-sizing: border-box; /* Сохраняем толщину границы */
}

.button:hover::after,
.button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    transform: translate(-50%, -50%) scale(1); /* Начальное состояние */
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(15); /* Увеличение до нужного размера */
    opacity: 0;
  }
}

.footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /*  .header {*/
  /*    flex-direction: column;*/
  /*  }*/

  /*  .header nav ul {*/
  /*    flex-direction: column;*/
  /*    gap: 10px;*/
  /*  }*/

  /*  .hero {*/
  /*    height: 400px;*/
  /*  }*/

  /*  .hero h1 {*/
  /*    font-size: 2rem;*/
  /*  }*/

  .hero {
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }

  .feedback .feedback-cards {
    flex-direction: column;
    align-content: center;
    gap: 20px;
  }

  /*  .feedback-cards .card {*/
  /*    width: 100%;*/
  /*  }*/
  /*}*/

  /*@media (max-width: 480px) {*/
  /*  .hero {*/
  /*    height: 300px;*/
  /*  }*/

  /*  .hero h1 {*/
  /*    font-size: 1.5rem;*/
  /*  }*/

  /*  .hero button {*/
  /*    padding: 8px 16px;*/
  /*  }*/
}
